<div class="ngdialog-message">
	<div class="modal-header titulo-modal">
		<h3>Resultados de b&uacute;squeda</h3>
	</div>
	<div class="modal-body">
		<table class="table table-responsive">
			<thead>
				<th>C&eacute;dula</th>
				<th>Nombre</th>
			</thead>
			<tbody>
				<tr ng-repeat="usuario in usuarios">
					<td><a ng-click="onSeleccionar(usuario)">{{usuario.cedula}}</a></td>
					<td><a ng-click="onSeleccionar(usuario)">{{usuario.nombres}} {{usuario.apellidos}}</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="modal-footer">
		<ul class="flex alineacion-derecha" >
			<li><button type="button" class="btn-siav btn-cancelar" ng-click="cancelar()">Cancelar</button></li>
		</ul>
 	</div>
</div>