<div class="ngdialog-message">
	<div class="modal-header titulo-modal">
		<h3>{{titulo}}</h3>
	</div>
	<div class="modal-body">
		<div class="mensaje-body">
			<div class="icono-modal"><i class="{{clase}}" aria-hidden="true"></i></div>
			<div class="mensaje-modal">Ingrese el n&uacute;mero de c&eacute;dula del usuario a quien va a asignar la instalaci&oacute;n:</div>
		</div>
		<div class="opciones-usuario">
			<div class="icon-div">
				<i class="fa fa-user icon-float icon-save" aria-hidden="true"></i>
				<input type="text" ng-model="cedula" placeholder="N&uacute;mero de documento" ng-change="onChange()" class="input-existente">
				<br><span class="modal-obligatorio">{{obligatorio}}</span>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<ul class="flex alineacion-derecha" >
			<li><button type="button" class="btn-siav btn-buscar" ng-click="continuar()">Aceptar</button></li>
			<li><button type="button" class="btn-siav btn-cancelar" ng-click="cancelar()">Cancelar</button></li>
		</ul>
 	</div>
</div>