<titulo/>
<menu></menu>
<div  class="contenido">
	<div  class="boton-fijo">
		<a ng-click="onBuscar()" uib-tooltip="Buscar" tooltip-placement="left" ng-show="!mostrarUsuario"><i class="fa fa-search icon-float icon-search" aria-hidden="true"></i></a>
		<a ng-click="onGuardar()" uib-tooltip="Pagar" tooltip-placement="left" ng-show="mostrarUsuario"><i class="fa fa-money icon-float icon-save" aria-hidden="true"></i></a>
		<a ng-click="onCancelar()" uib-tooltip="Cancelar" tooltip-placement="left" ng-show="mostrarUsuario"><i class="fa fa-times icon-float icon-cancel" aria-hidden="true"></i></a>
	</div>
	<section class="titulo-seccion">
		Abonos
	</section>
	<section class="formulario form-fijo">
		<div ng-show="!mostrarUsuario">
			<section class="sub-titulo">Buscar instalaci&oacute;n</section>
			<ul class="flex">
				<li>
					<label>N&uacute;mero:</label><br>
					<input type="text" ng-model="numeroInstalacion" ng-enter="onBuscar()" />
				</li>
			</ul>
		</div>
		<div ng-show="mostrarUsuario">
			<section class="sub-titulo">{{factura.numeroInstalacion}} - {{factura.nombres}}</section>
			<ul class="flex">
				<li>
					<label>Factura:</label><br>
					<input type="text" ng-model="factura.numeroFactura" ng-disabled="true"/>
				</li>
				<li>
					<label>Valor factura:</label><br>
					<input type="text" ng-model="factura.valor" ng-disabled="true"/>
				</li>
				<li>
					<label>Valor abono:</label><br>
					<input type="numeric" ng-model="abono.valor""/>
				</li>
			</ul>
		</div>
	</section>
	<div>
		<object ng-show="content" data="{{content}}" type="application/pdf" style="width: 90%; height: 500px;"></object>
	</div>
</div>