<titulo/>
<menu></menu>
<div  class="contenido">
	<section class="titulo-seccion">
		Ajustes de consumo
	</section>
	<section class="formulario">
		<div>
			<ul class="flex">
				<li>
					<label>Instalaci&oacute;n:</label><br>
					<input type="text"/>
				</li>
				<li>
					<label>Consumo corregido:</label><br>
					<input type="text"/>
				</li>
			</ul>
		</div>
	</section>
	
	<section class="botonera">
		<button class="btn-siav btn-save"><i class="fa fa-floppy-o"></i> Guardar</button>
	</section>
</div>