<titulo/>
<menu></menu>

<div  class="contenido">
	<div  class="boton-fijo">
		<a ng-click="onAgregar()" uib-tooltip="Agregar" tooltip-placement="left" ng-show="!esNuevo && !estaEditando"><i class="fa fa-plus icon-float icon-add" aria-hidden="true"></i></a>
		<a ng-click="onCrear()" uib-tooltip="Guardar" tooltip-placement="left" ng-show="esNuevo"><i class="fa fa-floppy-o icon-float icon-save" aria-hidden="true"></i></a>
		<a ng-click="onActualizar()" uib-tooltip="Guardar" tooltip-placement="left" ng-show="estaEditando"><i class="fa fa-floppy-o icon-float icon-save" aria-hidden="true"></i></a>
		<a ng-click="onCancelar()" uib-tooltip="Cancelar" tooltip-placement="left" ng-show="esNuevo || estaEditando"><i class="fa fa-times icon-float icon-cancel" aria-hidden="true"></i></a>
	</div>
	<section class="titulo-seccion">
		Art&iacute;culos
	</section>
	<section class="formulario form-fijo">
		<div ng-show="esNuevo || estaEditando">
			<ul class="flex">
				<li>
					<label>C&oacute;digo:</label><br>
					<input type="number" ng-model="articuloNuevo.codigo"/>
				</li>
				<li>
					<label>C&oacute;digo contable:</label><br>
					<input type="number" ng-model="articuloNuevo.codigoContable"/>
				</li>
				<li>
					<label>Nombre:</label><br>
					<input type="text" ng-model="articuloNuevo.nombre"
						uib-typeahead="item as item for item in nombresArticulo | filter:$viewValue | limitTo:5" 
						uib-typeahead-min-length="2" 
						uib-typeahead-wait-ms="1"/>
				</li>
				<li>
					<label>Unidad:</label><br>
					<select ng-model="articuloNuevo.unidad"
				    	ng-options="unidad as unidad.valor for unidad in unidades track by unidad.codigo">
      				</select>
				</li>
			</ul>
			<ul class="flex">
				<li>
					<label>Porcentaje IVA:</label><br>
					<input type="number" ng-model="articuloNuevo.porcentajeIva"/>
				</li>
				<li>
					<label>¿Tiene IVA?:</label><br>
					<input type="checkbox" class="chk-config" ng-model="articuloNuevo.tieneIva"/>{{articuloNuevo.tieneIva ? 'SI' : 'NO'}}
				</li>
				<li>
					<label>Observaci&oacute;n</label><br>
					<textarea class="mensaje-institucional" rows="3" ng-model="articuloNuevo.observacion" maxlength="200"></textarea>
				</li>
			</ul>
		</div>
		<div ng-show="!esNuevo && !estaEditando">
			<ul class="flex">
				<li>
					<label>Nombre</label><br>
					<input type="text" ng-model="filtro.nombre"/>
				</li>
				<li>
					<label>Activa:</label><br>
					<input type="checkbox" class="chk-config" ng-model="filtro.activo"/>{{filtro.activo ? 'SI' : 'NO'}}
				</li>
			</ul>
		</div>
	</section>
	<div class="tabla-siav"  ng-show="!esNuevo && !estaEditando">
		<table class="table table-responsive">
			<thead>
				<th class="table-header">C&oacute;digo</th>
				<th class="table-header">C&oacute;digo<br>contable</th>
				<th class="table-header">Nombre</th>
				<th class="table-header">Unidad</th>
				<th class="table-header">Existencias</th>
				<th class="table-header">Tiene<br>IVA</th>
				<th class="table-header">Porcentaje<br>IVA</th>
				<th class="table-header">Observaci&oacute;n</th>
				<th class="table-header">Estado</th>
			</thead>
			<tbody>
				<tr ng-repeat="articulo in articulos | filter:filtro | orderBy: 'nombre' | startFrom:(currentPage-1)*itemsPerPage | limitTo:itemsPerPage">
					<td>{{articulo.codigo}}</td>
					<td>{{articulo.codigoContable}}</td>
					<td nowrap><a ng-click="onEditar(articulo)">{{articulo.nombre}}</a></td>
					<td nowrap>{{articulo.unidad.valor}}</td>
					<td>{{articulo.cantidadDisponible}}</td>
					<td>{{articulo.tieneIva ? 'SI' : 'NO'}}</td>
					<td>{{articulo.porcentajeIva | currency:"%":2}}</td>
					<td>{{articulo.observacion}}</td>
					<td><a ng-click="onDesactivar(articulo)">{{articulo.activo ? 'ACTIVO':'INACTIVO'}}</a></td>
				</tr>
			</tbody>
		</table>
		<uib-pagination total-items="articulos.length" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
	</div>
</div>