<titulo/>
<menu></menu>

<div  class="contenido">
	<div  class="boton-fijo">
		<a ng-click="onAgregar()" uib-tooltip="Agregar" tooltip-placement="left" ng-show="!esNuevo && !estaEditando"><i class="fa fa-plus icon-float icon-add" aria-hidden="true"></i></a>
		<a ng-click="onCrear()" uib-tooltip="Guardar" tooltip-placement="left" ng-show="esNuevo"><i class="fa fa-floppy-o icon-float icon-save" aria-hidden="true"></i></a>
		<a ng-click="onActualizar()" uib-tooltip="Guardar" tooltip-placement="left" ng-show="estaEditando"><i class="fa fa-floppy-o icon-float icon-save" aria-hidden="true"></i></a>
		<a ng-click="onCancelar()" uib-tooltip="Cancelar" tooltip-placement="left" ng-show="esNuevo || estaEditando"><i class="fa fa-times icon-float icon-cancel" aria-hidden="true"></i></a>
	</div>
	<section class="titulo-seccion">
		Art&iacute;culos
	</section>
	<div class="tabla-siav"  ng-show="!esNuevo && !estaEditando">
		<table class="table table-responsive">
			<thead>
				<th>Nombre</th>
				<th>Unidad</th>
				<th>Precio unitario</th>
				<th>Precio inventario</th>
				<th>Porcentaje ganancia</th>
				<th>Precio comercial</th>
				<th>Observaci&oacute;n</th>
				<th>Estado</th>
			</thead>
			<tbody>
				<tr ng-repeat="articulo in articulos | orderBy: 'nombre' | startFrom:(currentPage-1)*itemsPerPage | limitTo:itemsPerPage">
					<td nowrap><a ng-click="onEditar(articulo)">{{articulo.nombre}}</a></td>
					<td nowrap>{{articulo.unidad.valor}}</td>
					<td class="column-currency">{{articulo.precioUnitario | currency:"$":2}}</td>
					<td class="column-currency">{{articulo.precioInventario | currency:"$":2}}</td>
					<td class="column-currency">{{articulo.porcentajeGanancia | currency:"%":2}}</td>
					<td class="column-currency">{{articulo.precioComercial | currency:"$":2}}</td>
					<td>{{articulo.observacion}}</td>
					<td><a ng-click="onDesactivar(articulo)">{{articulo.activo ? 'ACTIVO':'INACTIVO'}}</a></td>
				</tr>
			</tbody>
		</table>
		<uib-pagination total-items="articulos.length" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
	</div>
	<section class="formulario form-fijo" ng-show="esNuevo || estaEditando">
		<div>
			<ul class="flex">
				<li>
					<label>Nombre:</label><br>
					<input type="text" ng-model="articuloNuevo.nombre"
						uib-typeahead="item as item for item in nombresArticulo | filter:$viewValue | limitTo:5" 
						uib-typeahead-min-length="2" 
						uib-typeahead-wait-ms="1"/>
				</li>
				<li>
					<label>Unidad:</label><br>
					<select ng-model="articuloNuevo.unidad"
				    	ng-options="unidad as unidad.valor for unidad in unidades track by unidad.codigo">
      				</select>
				</li>
				<li>
					<label>Precio unitario:</label><br>
					<input type="number" ng-model="articuloNuevo.precioUnitario"/>
				</li>
				<li>
					<label>Precio inventario:</label><br>
					<input type="number" ng-model="articuloNuevo.precioInventario"/>
				</li>
				<li>
					<label>Porcentaje ganancia:</label><br>
					<input type="number" ng-model="articuloNuevo.porcentajeGanancia"/>
				</li>
				<li>
					<label>Precio comercial:</label><br>
					<input type="number" ng-model="articuloNuevo.precioComercial"/>
				</li>
				<li>
					<label>Observaci&oacute;n:</label><br>
					<input type="text" ng-model="articuloNuevo.observacion"/>
				</li>
			</ul>
		</div>
	</section>
</div>