<titulo/>
<menu></menu>
<div  class="contenido">
	<div  class="boton-fijo">
		<a ng-click="onGuardar()" uib-tooltip="Guardar" ng-show="estaEditando" tooltip-placement="left"><i class="fa fa-floppy-o icon-float icon-save" aria-hidden="true"></i></a>
		<a ng-click="onCancelar()" uib-tooltip="Cancelar" ng-shoe="estaEditando" tooltip-placement="left"><i class="fa fa-times icon-float icon-cancel" aria-hidden="true"></i></a>
	</div>
	<section class="titulo-seccion">Asignaci&oacute;n de recorridos</section>
	<section class="formulario form-fijo" ng-show="estaEditando">
		<div>
			<ul class="flex">
				<li>
					<label>Ruta:</label><br>
					<input type="text" ng-model="asignacionEditar.usuarioRamalPK.codigoRamal" ng-disabled="true"/>
				</li>
				<li>
					<label>Ramal:</label><br>
					<select
						ng-model="asignacionEditar.usuario"
				    	ng-options="usuario as usuario.nombreCompleto for usuario in usuarios track by usuario.nombreUsuario"
				    	class="select-ramal">
      				</select>
				</li>
			</ul>
		</div>
	</section>

	<div class="tabla-siav" ng-show="!estaEditando">
		<table class="table table-responsive">
			<thead class="column-center">
				<th>Usuario</th>
				<th>Ramal</th>
			</thead>
			<tbody>
				<tr ng-repeat="asignacion in asignaciones | orderBy:'usuarioRamalPK.codigoRamal' | startFrom:(currentPage-1)*itemsPerPage | limitTo:itemsPerPage">
					<td><a ng-click="onEditar(asignacion)">{{asignacion.usuario.nombreCompleto}}</a></td>
					<td>{{asignacion.usuarioRamalPK.codigoRamal}}</td>
				</tr>
			</tbody>
		</table>
		<uib-pagination total-items="asignaciones.length" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
	</div>
</div>