<titulo/>
<menu></menu>

<div  class="contenido">
	<div  class="boton-fijo">
		<a ng-click="onAgregar()" uib-tooltip="Agregar" tooltip-placement="left" ng-show="!esNuevo"><i class="fa fa-plus icon-float icon-add" aria-hidden="true"></i></a>
		<a ng-click="onGuardar()" uib-tooltip="Guardar" tooltip-placement="left" ng-show="esNuevo"><i class="fa fa-floppy-o icon-float icon-save" aria-hidden="true"></i></a>
		<a ng-click="onCancelar()" uib-tooltip="Cancelar" tooltip-placement="left" ng-show="esNuevo"><i class="fa fa-times icon-float icon-cancel" aria-hidden="true"></i></a>
		<a ng-click="onImprimir()" uib-tooltip="Imprimir" tooltip-placement="left" ng-show="!esNuevo"><i class="fa fa-print icon-float icon-print"></i></a>
	</div>
	<section class="titulo-seccion">
		Causas de no lectura
	</section>
	<div class="tabla-siav">
		<table class="table table-responsive">
			<thead>
				<th>C&oacute;digo</th>
				<th>Descripci&oacute;n</th>
				<th>Estado</th>
				<th></th>
			</thead>
			<tbody>
				<tr ng-repeat="causa in causas | orderBy: 'codigo'">
					<td ng-if="causa.codigo!=0">{{causa.codigo}}</td>
					<td ng-if="causa.codigo!=0">{{causa.descripcion}}</td>
					<td ng-if="causa.codigo!=0"><span ng-class="{activo : {{causa.activo}} == 'true'}"><span ng-show="causa.activo">ACTIVO</span><span ng-show="!causa.activo">INACTIVO</span></span></td>
					<td ng-if="causa.activo && causa.codigo!=0"><a ng-click="onCambioEstado(causa)"><i class="fa fa-circle activo" aria-hidden="true"></i> Desactivar</a></td>
					<td ng-if="!causa.activo && causa.codigo!=0"><a ng-click="onCambioEstado(causa)"><i class="fa fa-circle inactivo" aria-hidden="true"></i> Activar</a></td>
				</tr>
			</tbody>
		</table>
	</div>
		<section class="formulario  form-fijo" ng-show="esNuevo">
		<ul class="flex">
			<li>
				<label>Descripci&oacute;n:</label><br>
				<input type="text" ng-model="causaNueva.descripcion"
						uib-typeahead="item as item for item in descripciones | filter:$viewValue | limitTo:5" 
						uib-typeahead-min-length="2" 
						uib-typeahead-wait-ms="1"/>
			</li>
		</ul>
	</section>
</div>