<titulo/>
<menu></menu>
<div  class="contenido">
		<div  class="boton-fijo">
		<a ng-click="onBuscar()" uib-tooltip="Buscar" tooltip-placement="left" ng-show="!mostrarUsuario"><i class="fa fa-search icon-float icon-search" aria-hidden="true"></i></a>
		<a ng-click="onGuardar()" uib-tooltip="Guardar" tooltip-placement="left" ng-show="mostrarUsuario"><i class="fa fa-floppy-o icon-float icon-save" aria-hidden="true"></i></a>
		<a ng-click="onCancelar()" uib-tooltip="Cancelar" tooltip-placement="left" ng-show="mostrarUsuario"><i class="fa fa-times icon-float icon-cancel" aria-hidden="true"></i></a>
	</div>
	<section class="titulo-seccion">
		Cr&eacute;ditos
	</section>
	<section class="formulario form-fijo">
		<div ng-show="!mostrarUsuario">
			<section class="sub-titulo">Buscar instalaci&oacute;n</section>
			<ul class="flex">
				<li>
					<label>N&uacute;mero:</label><br>
					<input type="text" ng-model="numeroInstalacion" ng-enter="onBuscar()" />
				</li>
			</ul>
		</div>
		<div ng-show="mostrarUsuario">
			<section class="sub-titulo">{{instalacion.numeroInstalacion}} - {{instalacion.usuario.nombres}} {{instalacion.usuario.apellidos}}</section>
			<ul class="flex">
				<li>
					<label><i class="fa fa-asterisk" aria-hidden="true"></i> Concepto:</label><br>
					<select
						ng-model="tarifaCredito"
						ng-change="onSeleccionar()"
				    	ng-options="tarifa as tarifa.descripcion for tarifa in tarifas">
				    	<option value=''>Seleccione un concepto</option>
      				</select>
      			</li>
			</ul>
			
			<ul class="flex">
				<li>
					<label>Valor:</label><br>
					<input type="text" ng-model="credito.valor" ng-blur="calculoCuotas()" ng-disabled="esFijo"/>
				</li>
			</ul>
		</div>
		<div ng-show="mostrarUsuario">
			<section class="sub-titulo">Plan de financiaci&oacute;n</section>
			<ul class="flex">
				<li>
					<label>Cuota inicial:</label><br>
					<input type="number" placeholder="$" ng-model="credito.inicial" ng-blur="calculoCuotas()"/>
				</li>
				<li>
					<label>Intereses:</label><br>
					<input type="number" placeholder="%" ng-model="credito.interes" ng-blur="calculoCuotas()"/>
				</li>
				<li>
					<label>N&uacute;mero de cuotas:</label><br>
					<input type="number" ng-model="credito.numeroCuotas" ng-blur="calculoCuotas()"/>
				</li>
				<li>
					<label>Valor cuota</label><br>
					<label class="label-input">{{valorCuota | currency:"$":0}}</label>
				</li>
			</ul>
		</div>
	</section>
</div>