<titulo/>
<menu></menu>

<div  class="contenido">
	<div  class="boton-fijo">
		<a ng-click="onAgregar()" uib-tooltip="Agregar" tooltip-placement="left" ng-show="!esNuevo"><i class="fa fa-plus icon-float icon-add" aria-hidden="true"></i></a>
		<a ng-click="onGuardar()" uib-tooltip="Guardar" tooltip-placement="left" ng-show="esNuevo"><i class="fa fa-floppy-o icon-float icon-save" aria-hidden="true"></i></a>
		<a ng-click="onCancelar()" uib-tooltip="Cancelar" tooltip-placement="left" ng-show="esNuevo"><i class="fa fa-times icon-float icon-cancel" aria-hidden="true"></i></a>
		<a ng-click="onImprimir()" uib-tooltip="Imprimir" tooltip-placement="left" ng-show="!esNuevo"><i class="fa fa-print icon-float icon-print"></i></a>
	</div>
	<section class="titulo-seccion">
		Cuentas bancarias
	</section>	
	
	<div class="tabla-siav">
		<table class="table table-responsive">
			<thead>
				<th>Banco</th>
				<th>Nombre</th>
				<th>N&uacute;mero cuenta</th>
				<th></th>
			</thead>
			<tbody>
				<tr ng-repeat="cuenta in cuentas | orderBy : 'nombre'">
					<td>{{cuenta.banco.nombre}}</td>
					<td>{{cuenta.nombre}}</td>
					<td>{{cuenta.numeroCuenta}}</td>
					<td><a ng-click="onEditar(cuenta)"><i class="fa fa-pencil" aria-hidden="true"></i> Editar</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<section class="formulario form-fijo" ng-show="esNuevo">
		<div>
			<ul class="flex">
				<li>
					<a class="sel-abono-credito" ng-click="onSeleccion('EXISTENTE')">
						<i class="fa fa-check-circle-o" aria-hidden="true" ng-if="!esNuevoBanco"></i>
						<i class="fa fa-circle-o" aria-hidden="true" ng-if="esNuevoBanco"></i>
						&nbsp;Banco existente:
					</a>
					<br>
					<select
						ng-model="bancoNuevo.banco"
				    	ng-options="banco as banco.nombre for banco in bancos track by banco.codigo"
				    	 ng-disabled="esNuevoBanco">
      				</select>
				</li>
				<li>
					<a class="sel-abono-credito" ng-click="onSeleccion('NUEVO')">
						<i class="fa fa-check-circle-o" aria-hidden="true" ng-if="esNuevoBanco"></i>
						<i class="fa fa-circle-o" aria-hidden="true" ng-if="!esNuevoBanco"></i>
						&nbsp;Banco Nuevo:
					</a>
					<br>
					<input type="text" ng-model="nuevoBanco" ng-disabled="!esNuevoBanco"/>
				</li>
				<li>
					<label>Nombre:</label><br>
					<input type="text" ng-model="bancoNuevo.nombre"/>
				</li>
				<li>
					<label>N&uacute;mero cuenta:</label><br>
					<input type="text" ng-model="bancoNuevo.numeroCuenta"/>
				</li>
			</ul>
		</div>
	</section>
</div>