<titulo/>
<menu></menu>

<div  class="contenido">
	<section class="titulo-seccion">
		Inconsistencias
	</section>
	<div class="tabla-siav">
		<table class="table table-responsive">
			<thead>
				<th>C&oacute;digo</th>
				<th>Nombre</th>
				<th>Usuarios</th>
				<th>Instalaciones</th>
			</thead>
			<tbody>
				<tr ng-repeat="vereda in veredas | orderBy: 'codigo'">
					<td>{{vereda.codigo}}</td>
					<td>{{vereda.nombre}}</td>
					<td>{{vereda.cantidadUsuarios}}</td>
					<td>{{vereda.cantidadInstalaciones}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>