<titulo/>
<menu></menu>
<!-- <div  class="contenido">
<section>
	<div class="div-contenido-ppal"></div>
	<div class="dashboard">
		<div class="dashboard-item">
			<div class="dashboard-grafico dd-orange">IMAGEN</div>
			<div class="dashboard-titulo">Cualquier cosa</div>
			<div class="dashboard-contenido">dfg uy fgsurg uarusfgus uau gsrf uuasg uu rafgaee du feae fg ua gef auw gyuu a au fge uiawey g</div>
		</div>
		<div class="dashboard-item">
			<div class="dashboard-grafico dd-dark-blue">IMAGEN</div>
			<div class="dashboard-titulo">Cualquier cosa</div>
			<div class="dashboard-contenido">dfg uy fgsurg uarusfgus uau gsrf uuasg uu rafgaee du feae fg ua gef auw gyuu a au fge uiawey g</div>
		</div>
		<div class="dashboard-item">
			<div class="dashboard-grafico dd-green">
				<div class="div-row">
					<div class="div-row-item item-uno">604</div>
					<div class="div-row-item item-dos">100</div>
				</div>
				<div class="div-row">
					<div class="div-row-item item-tres">504</div>
					<div class="div-row-item item-cuatro">4</div>
				</div>
			</div>
			<div class="dashboard-titulo">Consumos</div>
			<div class="dashboard-contenido">
				<label>N&uacute;mero de instalaciones:</label>604<br>
				<label>Lecturas ingresadas:</label>100<br>
				<label>Lecturas a ingresar:</label>504<br>
				<label>Pendientes por revisi&oacute;n:</label>4<br>
			</div>
		</div>
	</div>
</section>
</div> -->
