<titulo/>
<menu></menu>

<div  class="contenido">
	<div  class="boton-fijo">
		<a ng-click="onAgregar()" uib-tooltip="Agregar" tooltip-placement="left" ng-show="!esNuevo && !estaEditando"><i class="fa fa-plus icon-float icon-add" aria-hidden="true"></i></a>
		<a ng-click="onGuardar()" uib-tooltip="Guardar" tooltip-placement="left" ng-show="esNuevo || estaEditando"><i class="fa fa-floppy-o icon-float icon-save" aria-hidden="true"></i></a>
		<a ng-click="onCancelar()" uib-tooltip="Cancelar" tooltip-placement="left" ng-show="esNuevo || estaEditando"><i class="fa fa-times icon-float icon-cancel" aria-hidden="true"></i></a>
	</div>
	<section class="titulo-seccion">
		Rutas
	</section>
	<div class="tabla-siav">
		<table class="table table-responsive">
			<thead>
				<th>C&oacute;digo</th>
				<th>Nombre</th>
				<th>Usuarios</th>
				<th>Instalaciones</th>
			</thead>
			<tbody>
				<tr ng-repeat="ramal in ramales | orderBy: 'codigoRamal'">
					<td>{{ramal.codigoRamal}}</td>
					<td><a ng-click="onEditar(ramal)">{{ramal.nombre}}</a></td>
					<th>{{ramal.usuarios}}</th>
					<th>{{ramal.instalaciones}}</th>
				</tr>
			</tbody>
		</table>
	</div>
	<section class="formulario form-fijo" ng-show="esNuevo || estaEditando">
		<div>
			<ul class="flex">
				<li>
					<label>C&oacute;digo:</label><br>
					<input type="text" ng-model="ramalNuevo.codigoRamal" ng-disabled="!esNuevo"/>
				</li>
				<li>
					<label>Nombre:</label><br>
					<input type="text" ng-model="ramalNuevo.nombre"/>
				</li>
			</ul>
		</div>
	</section>
</div>