<titulo/>
<menu></menu>

<div  class="contenido">
	<div  class="boton-fijo">
		<a ng-click="onAgregar()" uib-tooltip="Agregar" tooltip-placement="left"><i class="fa fa-plus icon-float icon-add" aria-hidden="true"></i></a>
		<a ng-click="onGuardar()" uib-tooltip="Guardar" tooltip-placement="left" ng-show="!nuevaOrden"><i class="fa fa-floppy-o icon-float icon-save" aria-hidden="true"></i></a>
		<a ng-click="onCancelar()" uib-tooltip="Cancelar" tooltip-placement="left"><i class="fa fa-times icon-float icon-cancel" aria-hidden="true"></i></a>
	</div>
	<section class="titulo-seccion">
		Salidas
	</section>	
	
	<section class="formulario form-fijo">
		<div class="detalle-salidas">
			<ul class="flex">
				<li>
					<label>Destino:</label><br>
					<select
						ng-model="destinoSeleccionado"
				    	ng-options="destino as destino.valor for destino in destinos track by destino.codigo"
				    	ng-change="cambiarDestino()"
				    	ng-disabled="!nuevaOrden">
	      			</select>
				</li>
				<li>
					<label>Instalaci&oacute;n:</label><br>
					<input type="number" ng-model="salida.instalacion" ng-disabled="!nuevaOrden || !mostrarInstalacion"/>
				</li>
				<li>
					<label>Fecha de salida:</label><br>
					<input type="date" ng-model="salida.fecha" ng-disabled="!nuevaOrden"/>
				</li>
			</ul>
		</div>
	</section>
	<section class="detalle-entrada">
		<ul class="flex">
			<li>
				<label>Art&iacute;culo:</label><br>
				<select
					class="ancho-250"
					ng-model="detalle.articulo"
			    	ng-options="articulo as articulo.nombre for articulo in articulos"
			    	ng-change="calcularPrecio()">
      			</select>
			</li>

			<li>
				<label>Disponibles:</label><br>
				<input type="number" ng-model="detalle.articulo.cantidadDisponible" ng-disabled="true"/>
			</li>
			<li>
				<label>Precio compra:</label><br>
				<input type="number" ng-model="detalle.articulo.precioUnitario" ng-disabled="true"/>
			</li>
			<li>
				<label>Iva:</label><br>
				<input type="number" ng-model="detalle.articulo.ivaUnitario" ng-disabled="true"/>
			</li>
		</ul>
		<ul class="flex">
			<li>
				<label>Cantidad:</label><br>
				<input type="number" ng-model="detalle.cantidad" ng-change="calcularPrecio()"/>
			</li>
			<li>
				<label>Precio para usuario</label><br>
				<input type="number" ng-model="detalle.articulo.precioComercial" ng-change="calcularPrecio()"/>
			</li>
			<li>
				<label>Subtotal:</label><br>
				<input type="number" ng-model="detalle.precio" ng-disabled="true"/>
			</li>
			<li>
				<label>Iva</label><br>
				<input type="number" ng-model="detalle.ivaTotal" ng-disabled="true"/>
			</li>
			<li>
				<label>Precio total:</label><br>
				<input type="number" ng-model="detalle.precioTotal" ng-disabled="true"/>
			</li>
		
		</ul>
	</section>
	<div class="tabla-siav">
		<table class="table table-responsive">
			<thead>
				<th>Art&iacute;culo</th>
				<th class="column-numeric">Cantidad</th>
				<th class="column-numeric">Precio para usuario</th>
				<th class="column-numeric">Subtotal</th>
				<th class="column-numeric">Iva</th>
				<th class="column-numeric">Precio total</th>
			</thead>
			<tbody>
				<tr ng-repeat="detalle in salida.detalles">
					<td nowrap>{{detalle.articulo.nombre}}</td>
					<td class="column-currency">{{detalle.cantidad}}</td>
					<td class="column-currency">{{detalle.articulo.precioComercial | currency:"$":0}}</td>
					<td class="column-currency">{{detalle.precio | currency:"$":0}}</td>
					<td class="column-currency">{{detalle.ivaTotal | currency:"$":0}}</td>
					<td class="column-currency">{{detalle.precioTotal | currency:"$":0}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>